<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Oriento Test Suite">
			<directory>tests/Orienta/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/Orienta/</directory>
		</whitelist>
	</filter>
</phpunit>
